extends layouts/main

block content
    .form-container
        form(action=`/users${routes.editProfile}`, method="post", enctype="multipart/form-data")
            .fileUpload
                label(for="avatar") Avatar
                input(type="file", id="avatar", name="avatar", accept="image/*")
            input(type="text", placeholder="Name", name="name", value=loggedUser.name)
            input(type="email", placeholder="Email", name="email", value=loggedUser.email)
            input(type="submit", value="Update Profile")
            
            //아바타 편집을 위함

        //routes.changePassword로 이동하는 링크