extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            // method는 post로 해야됨 정보를 비밀로 유지해야되기 때문
            input(type="text", name="name", placehorder="Full Name")
            input(type="email", name="email", placehorder="Email")
            input(type="password", name="password", placehorder="Password")
            input(type="password", name="password2", placehorder="Verify Password")
            input(type="submit", value="Join Now")
        include partials/socialLogin