extends layouts/main
include mixins/videoBlock  


block content
    .search__header
        h3 Searching for: #{searchingBy}
    .search__videos
        each item in videos 

            //- mixin을 호출
            +videoBlock({ 
                title:item.title,
                views:item.views,
                videoFile:item.videoFile
            })
